---
import {
  At,
  BrandNextjs,
  BrandTailwind,
  FileCertificate,
} from "tabler-icons-react";
import IconLink from "../ui/icon-link.astro";
import Typescript from "../ui/missing-icons/typescript.astro";
import VSCode from "../ui/missing-icons/vscode.astro";
---
  <div class="max-w-prose">
    <p>Étudiant chez Toulouse YNOV Campus.</p>
    <p class="mb-4">J'aime tout ce qui attrait au bas niveau et à la cyber sécurité</p>
    <p>
      Voici mon CV{" "}
      <IconLink
        text="CV"
        href="/cvPUIGBAPTISTE.pdf"
        class="translate-y-1.5 hover:border-zinc-500 focus:border-zinc-500"
        blank
      >
        <FileCertificate className="w-4" />
      </IconLink>
    </p>
    <p>
      contact{" "}
      <IconLink
        text="email"
        href="mailto:baptiste.puig@ynov.com?subject=Hi, I would like to reach you"
        class="translate-y-1.5 hover:border-zinc-500 focus:border-zinc-500"
      >
        <At className="w-4" />
      </IconLink>
    </p>
  </div>
</div>
